.bgd-black {
  background-color: #2f2d2e;
}

.bgd-yellow {
  background-color: #eca400;
}

.bgd-red {
  background-color: #f14a41;
}

.bgd-green {
  background-color: #3fb43d;
}

.font-kavoon {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.active {
  color: #eca400 !important;
}

.btnSignIn,
.btnSignUp {
  border-color: #eca400;
  border-width: 3px;
  border-style: solid;
}

.checkout-btn:hover,
.btnSignIn:hover {
  background-color: #eca400 !important;
  transition-duration: 500ms !important;
  scale: 1.03 !important;
}

.cartClose-btn:hover,
.btnSignUp:hover {
  background-color: #2f2d2e !important;
  transition-duration: 500ms !important;
  scale: 1.03 !important;
}

.btn-shadow,
.box-shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.btn-order:hover {
  background: #e33826;
  transition-duration: 300ms;
  scale: 1.03;
}

.nav-hover:hover {
  color: #f8c96e !important;
}

.text-yellow {
  color: #eca400;
}

.txt-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-hover:hover {
  scale: 1.05;
  transition-duration: 500ms;
}

.searchBtn,
.active_option {
  background-color: #eca400 !important;
  color: white !important;
}

.text-red {
  color: #f14a41;
}

.text-green {
  color: #3fb43d;
}

.checkout-btn,
.searchBtn:hover{
  transition-duration: 500ms;
  scale: 1.02;
}